hostname: {{ inventory_hostname }}
bonsai_server: 10.0.2.71:50051
jobname: bonsai-exporter
rate: 1
labels:
  - python
  - {{ hostvars[inventory_hostname].group_names[0] }}
exporters:
  BonsaiExporterCPU:
    name: CPU
    options:
      "individual_cores": True
      "core_count": True
      "core_count_logical": True
  BonsaiExporterMEM:
    name: MEM
    options:
      "include_swap": False
      "detailed": True
  BonsaiExporterNET:
    name: NET
    options:
      "interfaces": ["ensdfs0"]
  BonsaiExporterDISK:
    name: DISK
    options:
      "disks": ['/']
      "detailed": True
